@import "tailwindcss"; 

 

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
}

/* Custom scrollbar for a technical feel */
::-webkit-scrollbar {
  width: 6px;
} 

 
@media print {
  .fixed, footer, button, #skills {
    display: none !important;
  }
  main {
    padding: 0 !important;
    max-width: 100% !important;
  }
  .lg\:col-span-8 {
    width: 100% !important;
  }
}
